<a &class="cardClassName" &href="url">
  <div &class="logoFrameClassName">
    <div &class="logoClassName">
      <noop &foreach="logos as variant">
        <LazyImage
          &src="variant.src"
          &alt="name"
          &className="variant.className"
          &width="logoWidth"
          &height="logoHeight"
        ></LazyImage>
      </noop>
    </div>
  </div>
  <div class="grid min-w-0 content-center">
    <div class="min-w-0">
      <p &class="tierClassName" &children="tierLabel"></p>
      <h3 &class="titleClassName" &children="name"></h3>
    </div>
  </div>
</a>
