<a &class="cardClassName" &href="url">
  <div &class="logoFrameClassName">
    <LazyImage
      &src="logo"
      &alt="name"
      &className="logoClassName"
      &width="logoWidth"
      &height="logoHeight"
    ></LazyImage>
  </div>
  <div class="grid min-w-0 content-center">
    <div>
      <p
        class="font-headline text-sm font-black uppercase text-muted transition group-hover:text-paper/60"
        &children="tierLabel"
      ></p>
      <h3 &class="titleClassName" &children="name"></h3>
    </div>
  </div>
</a>
